/* Start variables*/
:root{
    --mainpadding:100px;
    --first-color: #DC143C;
}
/* End Variabled */
/* Start Global rules */
*{
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif; 
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small and Mobile */
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
/*    Meduim */
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
/*    large */
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* End Global rules */
/* Start common */
.main-heading{
    text-align: center;
}
.main-heading h2{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 5px;
}
.main-heading p{
    color: #777;
    margin-top: 15px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width:800px){
    .main-heading p{
        width:100%;
    }
}
/* End common */
/* Start header section */
header{
    position:fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px 0;
    width: 100%;
    z-index: 2;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
header .logo{
    text-transform: uppercase;
    font-size: 25px;
}
header .logo a{
    text-decoration: none;
    color: white;
}
header .logo span{
    color: var(--first-color);
}
header ul{
    display: flex;
}
header ul li{
    margin-right: 50px;
}
header ul li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
}
header ul li:hover a{
    color: var(--first-color);
}
header .menu{
    color: white;
    position: relative;
    right: 1%;
}
header .menu i{
    font-size: 20px;
}
@media (min-width:992px){
    header .menu{
        display:none ;
    }
}
@media (max-width:992px){
    header ul{
        display:none ;
    }
    header .menu:hover+ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 2;
        padding: 20px;
    }
    header ul li:not(:last-child){
        margin-bottom: 30px;
    }
  
}
/* End   header section */
/* Start Landing */
.landing{
    height: 100vh;
    background-image: url(../image/hero-bg.png);
    background-size: cover;
    position: relative;
}
.landing::before{
  content: "";
  position: absolute;
  top: 58.44px;
  left: 0;
  width: 100%;
  height: calc(100% - 58.44px);
  background-color: rgba(0, 0, 0, 0.8);
}
.landing .text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20%;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 65px;
    font-weight: 500;
}
.landing .text span{
    color: var(--first-color);
    font-size: 30px;
}
.landing .text button{
    font-size: 25px;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 1px solid var(--first-color);
    border-radius: 5px;
    cursor: pointer;
}
.landing .text button:hover{
    background-color: var(--first-color);
}
/* End Landing */
/* Start Services */
.services{
    padding-top: var(--mainpadding);
    padding-bottom: var(--mainpadding);
}
.services .main-heading h2 span{
    color: var(--first-color);
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 30px;
    margin-top: var(--mainpadding);
}
.services .services-content .box{
    background-image: url(../image/img-1.png);
    background-size: cover; 
    position: relative;
    color: white;
    padding: 20px;
    border-radius: 20px;
}
@media (max-width:1200px) and (min-width:992px){
    .services .services-content .box:last-child{
        left: 110%;
    }
}
  .services .services-content .box::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}   
.services .services-content .box .icon{
    background-color: #E6A304;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 10px;
}
.services .services-content .box .icon i{
    color: rgba(0, 0, 0, 0.8);
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.services .services-content .box h4{
    text-transform: uppercase;
    font-weight: bold;
    word-spacing: 2px;
    margin-bottom: 10px;
    position: relative;
}
.services .services-content .box p{
    color: #777;
    position: relative;
}
@media (max-width:630px){
    .services .services-content .box{
        text-align: center;
    }
    .services .services-content .box .icon{
        left: 50%;
        transform: translateX(-50%);
    }
}
/* End Services */
/* Start Projects */
.projects{
    padding-top: var(--mainpadding);
    padding-bottom: var(--mainpadding);
}
.projects .main-heading h2 span{
    color: var(--first-color);
}
.projects .projects-content{
    margin-top: 50px;
}
.projects .projects-content .box{
    display: flex;
    justify-content: center;
}
.projects .projects-content .box .text{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    width: 400px;
    height: 300px;
    padding: 80px 20px 20px;
}
.projects .projects-content .box .text h4{
    color: white;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 5px;
}
.projects .projects-content .box .text span{
    color: white;
    font-size: 15px;
    font-weight: 300;
    display: inline-block;
    margin-bottom: 5px;
}
.projects .projects-content .box .text p{
    color: #9e9e9e;
}
.projects .projects-content .box .image{
    width: 400px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.projects .projects-content .box .image:hover img{
    transform: scale(1.2);
}
@media (max-width:768px){
    .projects .projects-content .box .image{
        display: none;
    }
}
.projects .projects-content .box .image img{
    max-width: 100%;
    transition: 0.5s;
    filter: grayscale(70%);
}
/* End   Projects */
/* Start About me */
.about{
    padding-top: var(--mainpadding);
    padding-bottom: var(--mainpadding);
}
.about .container{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}
.about .container .picture{
    width: 200px;
    height: 250px;
    position: relative;
    display: inline-block;
    margin-right: 20px;
}
.about .container .picture::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border: 5px solid red;
    left: -15%;
    top: 5%;
    z-index: -1;
}
.about .container .picture img{
    width: 200px;
    height: 250px;
    max-width: 100%;
    max-height: 100%;
}
.about .container .information{
    display: inline-block;
    width: 450px;
    max-width: 100%;
}
.about .container .information h2{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 5px;
    margin-bottom: 5px;
}
.about .container .information h2 span{
    color: var(--first-color);
}
.about .container .information .job{
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
}
.about .container .information p{
    color: #777;
    margin-bottom: 30px;
}
.about .container .information button{
    outline: none;
    background-color: transparent;
    border: 1px solid var(--first-color);
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
.about .container .information button:hover{
    background-color: var(--first-color);
}
@media (max-width:768px){
    .about .container .picture{
        margin-bottom: 50px;
    }
    .about .container .information{
        text-align: center;
    }
}
/* End About me */
/* Start Contact */
.contact{
    padding-top: var(--mainpadding);
    padding-bottom: var(--mainpadding);
}
.contact .main-heading h2 span{
    color: var(--first-color);
}
.contact .contact-content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 15px;
}
.contact .contact-content .box{
    width: 250px;
    box-shadow: -3px 3px 10px rgba(0,0 , 0, 0.3),3px -3px 10px rgba(0,0 , 0, 0.3) ;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    transition: 0.5s;
}
.contact .contact-content .box:hover{
    transform: scale(1.02);
}
.contact .contact-content .box .icon{
    margin-right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ffecb3;
    text-align: center;
    line-height: 40px;
    position: relative;
}
.contact .contact-content .box .icon i{
    font-size: 20px;
    color: coral;
} 
.contact .contact-content .box  .info h4{
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: bold;
}
.contact .contact-content .box  .info p{
    font-size: 10px;
    font-weight: 600;
    line-height: 1.6;
}
.contact .contact-content .box  .info .differ{
    font-family: monospace;
}
/* End Contact */
/* Start Footer */
.footer{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px 0 10px;
    text-align: center;
}
.footer h2{
    color: white;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.footer h2 span{
    color: var(--first-color);
}
.footer p:first-of-type{
    color: white;
    margin-bottom: 10px;
}
.footer ul{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.footer ul li {
    margin-right: 10px;
}
.footer ul li a{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #bdbdbd;
    line-height: 30px;
}
.footer ul li a i{
    font-size: 18px;
    color: var(--first-color);
}
.footer p:last-of-type{
    color: #ffffff96;
}
/* End Footer */